# to allow CTS/XTS screen capture through method getScreenshot.
allow adbd graphics_device:dir search;
allow adbd surfaceflinger_tmpfs:file { read write };
