# Rules for CG2K - GPS daemon
type cg2k, domain;
type cg2k_exec, exec_type, file_type;

init_daemon_domain(cg2k)

allow cg2k gnss_socket:sock_file { write };
allow cg2k self:netlink_kobject_uevent_socket create_socket_perms;
allow cg2k cws_manu_data_file:dir { search };
allow cg2k cws_manu_data_file:file { open read getattr };
allow cg2k gps_data_file:dir rw_dir_perms;
allow cg2k gps_data_file:file { create rw_file_perms };
allow cg2k rfkill_device:chr_file rw_file_perms;
allow cg2k gps_device:chr_file rw_file_perms;
allow cg2k gps_sysfs_file:file rw_file_perms;
allow cg2k radio_device:chr_file rw_file_perms;
wakelock_use(cg2k)
