# Rules for service colorConfig_app 
type color_config, domain;
type color_config_exec, exec_type, file_type;

init_daemon_domain(color_config)

allow color_config shell_exec:file execute;
allow color_config oemfs:dir search;
allow color_config gpu_device:chr_file { read write getattr open ioctl };
allow color_config shell_exec:file { read execute open execute_no_trans };
# refine in the next round: /sys/class/drm/card0/ needs to be labelled more fine-grained
allow color_config sysfs:file { write setattr };
allow color_config system_data_file:file { open setattr };
allow color_config system_file:file execute_no_trans;

