# Rules for CWS Manufacturing Tool
type cws_manu, domain;
type cws_manu_exec, exec_type, file_type;

init_daemon_domain(cws_manu)
domain_auto_trans(init_shell, cws_manu_exec, cws_manu)

allow cws_manu cws_manu_device:dir { search write add_name };
allow cws_manu cws_manu_device:blk_file { create write open read getattr };

allow cws_manu block_device:dir search;
allow cws_manu config_file:dir { search write add_name };
allow cws_manu config_file:file { create write open read getattr };

allow cws_manu cws_manu_data_file:dir { search write add_name };
allow cws_manu cws_manu_data_file:file { create write open read };

allow cws_manu init_shell:fd use;
