type pstore_dev, dev_type;
type msr_device, dev_type;
type rfkill_device, dev_type;
type thermal_device, dev_type;
type cws_manu_device, dev_type;
type bluetooth_device, dev_type;