
# Silentlake
type silentlake_data_file, file_type, data_file_type;
type silentlake_socket, file_type;

# ITUX
type sysfs_thermal, fs_type, sysfs_type;

# pstore-clean
type pstore-clean_data_file, file_type, data_file_type;

# efivarfs - Used by userfastboot and efiprop
type efivarfs, fs_type;

# CWS manufacturing data in /config/
type cws_manu_data_file, file_type, data_file_type;

# Wifi MAC address in /config/wifi/
type wlan_prov_data_file, file_type, data_file_type;

# Config data files in /config/
type config_file, file_type, data_file_type;

# binfmt_misc - Used by houdini
type binfmt_misc, fs_type;

# thermal
type thermal_data_file, file_type, data_file_type;
type thermal_socket, file_type;
type sysfs_thermal_file, fs_type, sysfs_type;
type sysfs_thermal_management, fs_type, sysfs_type;
type itux_data_file, file_type, data_file_type;

# Firmware Update
type firmware_update_exec, exec_type, file_type;

# hdcp
type hdcpd_data_file, file_type, data_file_type;

#Powercap
type sysfs_powercap, fs_type, sysfs_type;

#gps
type gnss_socket, file_type;
type gps_sysfs_file, fs_type, sysfs_type;

# i915 videostatus
type sysfs_videostatus, fs_type, sysfs_type;

# Telemetry
type telemetry_data_file, file_type, data_file_type;

#rootfs missing labels
type log_file, file_type;

# for log services
type logsvc_exec, exec_type, file_type;

# configfs
type configfs, fs_type;

# fuel gauge userspace helper
type fg_algo_iface_data_file, file_type, data_file_type;
type fg_algo_iface_sysfs_rw_nodes, fs_type, sysfs_type;

# sensorhubd files
type sensorhubd_socket, file_type;
type sysfs_hwmon_control, fs_type, sysfs_type;
type sysfs_gpio_value, fs_type, sysfs_type;

# Additional file rules
type ecryptfs, fs_type;

# mmgr files
type mmgr_socket, file_type;
type sysfs_hsic_enable, fs_type, sysfs_type;
type sysfs_ssic_enable, fs_type, sysfs_type;
type tmpfs_block_device, dev_type;
type mmgr_radio_device, dev_type;
type modem_fw_data_file, file_type, data_file_type;

# nvm
type nvm_ctl_socket, file_type;

# factory files
type factory_file, file_type;

# ueventd
type sysfs_autosuspend_enable, fs_type, sysfs_type;

# rild
type radio_system_data_file, file_type, data_file_type;

#at-proxy
type atproxy_socket, file_type;
type atproxy_device, dev_type;
