# Rules for system/bin/dhcpd
type hdcpd, domain;
type hdcpd_exec, exec_type, file_type;
init_daemon_domain(hdcpd);
binder_use(hdcpd)
binder_call(hdcpd, msync)
binder_call(hdcpd, surfaceflinger)
allow hdcpd self:capability { dac_override setuid chown sys_admin ipc_lock };
allow hdcpd self:netlink_kobject_uevent_socket create_socket_perms;
allow hdcpd sysfs:file write;
# TODO: remove rules for system_data_file if they can be replaced
# by hdcpd_data_file ones
allow hdcpd hdcpd_data_file:dir { create_dir_perms };
allow hdcpd hdcpd_data_file:file create_file_perms;
allow hdcpd coreu_tmpfs:file { rw_file_perms };

allow hdcpd hdcpd_tmpfs:file { lock create open };
allow hdcpd tmpfs:dir { write add_name };
