# Rules for intel_prop (read Android props from fw)
# Use ueventd.te as blueprint for this since intel_prop
# also lives in /sbin .

type intel_prop, domain;
domain_trans(init, rootfs, intel_prop)

allow intel_prop init:unix_stream_socket connectto;
allow intel_prop system_prop:property_service set;
allow intel_prop property_socket:sock_file write;
