allow mediaserver asec_apk_file:dir { write add_name };
allow mediaserver asec_apk_file:file { write create open };
allow mediaserver default_prop:property_service set;
allow mediaserver camera_device:chr_file rw_file_perms;
allow mediaserver system_server:unix_stream_socket { read write };

allow mediaserver graphics_device:chr_file { read write ioctl open };
allow mediaserver graphics_device:dir search;

# access to /data/hdcp/.sdk_socket, but needs to be more elegant.
allow mediaserver system_data_file:sock_file write;

# firmware update
allow mediaserver firmware_update_exec:file rx_file_perms;
allow mediaserver shell_exec:file rx_file_perms;

# fix camera
allow mediaserver surfaceflinger_tmpfs:file { read write };

allow mediaserver telemetry_data_file:dir rw_dir_perms;
allow mediaserver telemetry_data_file:file create_file_perms;

allow mediaserver system_app_data_file:dir search;

# access to sys.ggralloc.version
allow mediaserver system_gralloc_version_prop:property_service set;

allow mediaserver graphics_device:dir search;

# search efs locations for factory files
allow mediaserver efs_file:dir search;

