# Rules for vendor/intel/ufo
type msync, domain;
type msync_exec, exec_type, file_type;
init_daemon_domain(msync);

binder_use(msync)
binder_call(msync, coreu)
binder_call(msync, hdcpd)
allow msync self:capability { setuid setgid };

allow msync msync_service:service_manager add;
