type nvm_server, domain;
type nvm_server_exec, exec_type, file_type;
init_daemon_domain(nvm_server);
unix_socket_connect(nvm_server, mmgr, mmgr)

allow nvm_server config_file:file create_file_perms;
allow nvm_server config_file:dir w_dir_perms;
allow nvm_server radio_device:chr_file rw_file_perms;
allow nvm_server tty_device:chr_file rw_file_perms;
allow nvm_server factory_file:dir r_dir_perms;
allow nvm_server factory_file:file r_file_perms;
allow nvm_server tmpfs_block_device:blk_file r_file_perms;
allow nvm_server tmpfs_block_device:dir r_dir_perms;
allow nvm_server block_device:dir search;
