# to allow adb shell screencap
allow shell graphics_device:dir search;
allow shell surfaceflinger_tmpfs:file { read write };
# for console in userfastboot
userdebug_or_eng(`
  allow shell rootfs:file execute_no_trans;
')
