
allow system_server fuse:dir { search read write };

allow system_server gps_data_file:fifo_file { write read open setattr create};
allow system_server gps_data_file:dir { search add_name write };
#unix_socket_connect(system_server, gnss, cg2k)
allow system_server pstore-clean_data_file:dir search;
allow system_server init:unix_dgram_socket sendto;
allow system_server surfaceflinger_tmpfs:file { read write };

#enable use of configfs
allow system_server configfs:dir create_dir_perms;

# bluetooth
allow system_server bluetooth_service:service_manager add;

# setprop sys.ggralloc.version
allow surfaceflinger system_gralloc_version_prop:property_service set;

# Property Service write
allow system_server shell_prop:property_service set;
