allow untrusted_app bcu_cpufreqrel_exec:file getattr;
allow untrusted_app bootanim_exec:file getattr;
allow untrusted_app clatd_exec:file getattr;
allow untrusted_app coreu_exec:file getattr;
allow untrusted_app debuggerd_exec:file getattr;
allow untrusted_app device:dir { read open };
allow untrusted_app dhcp_exec:file getattr;
allow untrusted_app dnsmasq_exec:file getattr;
allow untrusted_app drmserver_exec:file getattr;
allow untrusted_app dumpstate_exec:file getattr;
allow untrusted_app hdcpd_exec:file getattr;
allow untrusted_app hostapd_exec:file getattr;
allow untrusted_app install_recovery_exec:file getattr;
allow untrusted_app installd_exec:file getattr;
allow untrusted_app keymaster_exec:file getattr;
allow untrusted_app keystore_exec:file getattr;
allow untrusted_app logd_exec:file getattr;
allow untrusted_app lmkd_exec:file getattr;
allow untrusted_app mdnsd_exec:file getattr;
allow untrusted_app mediaserver_exec:file getattr;
allow untrusted_app msync_exec:file getattr;
allow untrusted_app mtp_exec:file getattr;
allow untrusted_app netd_exec:file getattr;
allow untrusted_app ppp_exec:file getattr;
allow untrusted_app pstore-clean_exec:file getattr;
allow untrusted_app racoon_exec:file getattr;
allow untrusted_app sysfs_thermal_management:file { read getattr open };
#allow screenshot capture
allow untrusted_app surfaceflinger_tmpfs:file { read write };
