#============= wlan_prov ==============
type wlan_prov, domain;
type wlan_prov_exec, exec_type, file_type;
init_daemon_domain(wlan_prov)

# Access to / in search
allow wlan_prov config_file:dir { search getattr };
# Access to /config/wifi/*
allow wlan_prov wlan_prov_data_file:dir { write search getattr add_name };
# Access to /config/wifi/mac.txt
allow wlan_prov wlan_prov_data_file:file { write read create open setattr getattr};
allow wlan_prov config_file:dir { write create add_name };
allow wlan_prov config_file:file { write create open setattr read getattr };
