# Rules for efiprop
type efiprop, domain;
allow efiprop efivarfs:dir search;
allow efiprop efivarfs:file { open getattr read };
allow efiprop property_socket:sock_file rw_file_perms;
allow efiprop init:unix_stream_socket connectto;
allow efiprop default_prop:property_service set;
