allow mediaserver default_prop:property_service set;
allow mediaserver camera_device:chr_file rw_file_perms;
allow mediaserver system_server:unix_stream_socket { read write };
binder_call(mediaserver, coreu)

allow mediaserver hdcpd:unix_stream_socket connectto;
allow mediaserver hdcpd_data_file:sock_file write;
allow mediaserver hdcpd_data_file:dir { search };
allow mediaserver graphics_device:chr_file { read write ioctl open };
allow mediaserver graphics_device:dir search;

# access to /data/hdcp/.sdk_socket, but needs to be more elegant.
allow mediaserver system_data_file:sock_file write;

# fix camera
allow mediaserver surfaceflinger_tmpfs:file { read write };

allow mediaserver telemetry_data_file:dir rw_dir_perms;
allow mediaserver telemetry_data_file:file create_file_perms;

allow mediaserver system_app_data_file:dir search;
