# Recovery needs to mount /cache/recovery/*
allow recovery cache_file:dir  mounton;

# rules needed by OTA updates
allow recovery block_device:dir { write remove_name add_name };
allow recovery block_device:blk_file { create unlink };
allow recovery rootfs:dir { write create add_name };
allow recovery self:capability mknod;
allow recovery vfat:dir create_dir_perms;
allow recovery vfat:file create_file_perms;
