# intel_prop configuration file
#
# syntax:
#    type:source:destination
#
# extracts the content of the source (according to the specified type)
# and exports it as Android property
#
# run /sbin/intel_prop -l for a list of supported types
#
# eg. fs:/sys/firmware/pidv/iafw_version:sys.ia32.version

dmi_bi:bios_version:sys.ifwi.version
dmi_is:BiosVersion:sys.ia32.version
dmi_is:SECVersion:sys.chaabi.version
dmi_is:PmicVersion:sys.pmic.version
dmi_is:PMCVersion:sys.pmc.version
dmi_is:PUnitVersion:sys.punit.version
dmi_is:GopVersion:sys.gop.version
fs:/proc/sys/kernel/osrelease:sys.kernel.version

