on post-fs-data
    mkdir /data/logs 0770 system log
    start pre_aplog_srv

on property:persist.service.aplogfs.enable=0
    stop ap_logfs

on property:persist.service.aplogfs.enable=1
    setprop persist.service.apklogfs.enable 0
    restart ap_log_srv

on property:persist.service.apklogfs.enable=0
    stop apk_logfs

on property:persist.service.apklogfs.enable=1
    setprop persist.service.aplogfs.enable 0
    restart ap_log_srv

service apk_logfs /system/bin/logcat_ep.sh /system/bin/logcatext -b all -n 1 -r5000 -v threadtime -f /data/logs/aplogs/aplog
    disabled

service ap_logfs /system/bin/logcat_ep.sh /system/bin/logcat -b all -n 20 -r5000 -v threadtime -f /data/logs/aplog
    disabled

service pre_aplog_srv /system/bin/pre_aplog_srv.sh
    disable
    oneshot

service ap_log_srv /system/bin/start_log_srv.sh
    class late_start
    oneshot
