# Rules for external/thermal-daemon
allow thermal sysfs_powercap:{ file lnk_file } { rw_file_perms };
allow thermal sysfs_powercap:dir { read open search};
