#rules for atproxy
type atproxy, domain;
type atproxy_exec, exec_type, file_type;
init_daemon_domain(atproxy)
unix_socket_connect(atproxy, mmgr, mmgr)
binder_call(atproxy, system_server)
binder_call(atproxy, servicemanager)

userdebug_or_eng(`
  allow atproxy shell_exec:file rx_file_perms;
  allow atproxy system_file:file x_file_perms;
  allow atproxy self:netlink_kobject_uevent_socket create_socket_perms;
  allow atproxy property_socket:sock_file write;
  allow atproxy init:unix_stream_socket { rw_socket_perms connectto };
  allow atproxy system_radio_prop:property_service set;
  allow atproxy zygote_exec:file rx_file_perms;
')
