# Rules for mmgr
type mmgr, domain;
type mmgr_exec, exec_type, file_type;
init_daemon_domain(mmgr)
binder_use(mmgr)
binder_call(mmgr, system_server)
unix_socket_connect(mmgr, property, init)

allow mmgr sysfs_wake_lock:file rw_file_perms;
allow mmgr config_file:dir create_dir_perms;
allow mmgr config_file:file create_file_perms;
allow mmgr log_file:dir create_dir_perms;
allow mmgr log_file:file create_file_perms;
allow mmgr factory_file:dir create_dir_perms;
allow mmgr factory_file:file create_file_perms;
allow mmgr usb_device:chr_file rw_file_perms;
allow mmgr usb_device:dir r_dir_perms;
allow mmgr cache_file:dir create_dir_perms;
allow mmgr cache_file:file create_file_perms;
allow mmgr sysfs_hsic_enable:file rw_file_perms;
allow mmgr sysfs_ssic_enable:file rw_file_perms;
allow mmgr self:process execmem;
allow mmgr shell_exec:file rx_file_perms;
allow mmgr system_file:file x_file_perms;
allow mmgr zygote_exec:file rx_file_perms;
allow mmgr sysfs_autosuspend_enable:file w_file_perms;
allow mmgr tty_device:chr_file rw_file_perms;
allow mmgr device:dir r_dir_perms;
allow mmgr tmpfs_block_device:blk_file rw_file_perms;
allow mmgr tmpfs_block_device:dir rw_dir_perms;
allow mmgr block_device:dir search;
allow mmgr radio_device:chr_file { rw_file_perms link_file_perms };
allow mmgr self:capability { chown fowner sys_admin };
allow mmgr self:capability2 block_suspend;
allow mmgr proc_cpuinfo:file mounton;
allow mmgr modem_fw_data_file:dir create_dir_perms;
allow mmgr modem_fw_data_file:file create_file_perms;
allow mmgr amtl_prop:property_service set;
allow mmgr mmgr_prop:property_service set;
allow mmgr nvm_server:process { signal };
