# Rules for debug-logs specific services
type logsvc, domain;

init_daemon_domain(logsvc);

allow logsvc system_file:file x_file_perms;
allow logsvc shell_exec:file rx_file_perms;

allow logsvc self:capability dac_override;
allow logsvc self:capability2 syslog;

allow logsvc log_file:file create_file_perms;
allow logsvc log_file:dir { search write remove_name add_name };

allow logsvc logdr_socket:sock_file write;
allow logsvc logd:unix_stream_socket connectto;

allow logsvc kmsg_device:chr_file { open read };
allow logsvc kernel:system syslog_read;

unix_socket_connect(logsvc, property, init);
allow logsvc system_prop:property_service set;
allow logsvc ctl_default_prop:property_service set;
